name: Trivy Container Security Scan

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  security_scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write

    steps:
      # リポジトリのチェックアウト
      - name: Checkout code
        uses: actions/checkout@v4

      # Docker Compose のセットアップ
      - name: Start Docker Compose services
        run: docker compose up -d

      # Trivyでコンテナイメージをスキャン
      - name: Run Trivy scan
        uses: aquasecurity/trivy-action@master
        with: 
            image-ref: 'ghcr.io/securistant/awesometodo:latest'
            format: 'sarif'
            exit-code: '1'
            ignore-unfixed: true
            vuln-type: 'os,library'
            severity: 'HIGH,CRITICAL'
            output: 'trivy-results.sarif'

      # Upload to Security Tab on GitHub
      - name: Upload Trivy report
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'
